---
import Layout from '../layouts/Layout.astro';
import InteractiveImage from '../components/InteractiveImage.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="absolute h-full w-full px-10">
        <div class="inline-flex space-x-5 items-end justify-end pl-4 pt-1 sticky bg-gray-100 left-0 top-0">
            <p class="w-40 h-9 text-xl uppercase">About</p>
            <p class="w-40 h-9 text-xl uppercase">Contact</p>
            <p class="w-40 h-9 text-xl uppercase">Projects</p>
        </div>
        <div class="container flex flex-col gap-3 w-4/6">
            <InteractiveImage client:load/>
            
            <div id="fsd" class="flex-col py-20 px-12 bg-white rounded-md">
                <h2>Hi, I'm Emilien</h2>
                <p>a full-stack developper based in Tokyo</p>
                <h4>working with people and businesses that value communication at every step of a project</h4>
            </div>
            <code>
                <span class="type" style="--n:222">
                    import {'{'} JavaScript, PHP, C#, CSS, MySQL {'}'} from 'languages'; <br/>
                    import {'{'} Svelte, React, Angular, .NET, Laravel {'}'} from 'frameworks';<br/>
                    import {'{'} Illustrator, Figma, GIMP {'}'} from 'design';<br/>
                </span>
            </code>
        </div>
	</main>
</Layout>

<style>
    main {
        height: 100vh;
        width: 100vw;
        font-family: Inter, sans-serif;
        background-color: #F2F0EB;
    }

    #code-panel {
        font-family: monospace;
        font-size: 1.2rem;
    }

    .type {
        word-break: ;
        color:#0000;
        background:
            linear-gradient(-90deg,#253436 5px,#0000 0) 10px 0,
            linear-gradient(#0a2225 0 0) 0 0;
        background-size:calc(var(--n)*1ch) 200%;
        -webkit-background-clip:padding-box,text;
        background-clip:padding-box,text;
        background-repeat:no-repeat;
        animation: 
        b .7s infinite steps(1),   
        t calc(var(--n)*.1s) steps(var(--n)) forwards;
    }

    @keyframes t{
        from {background-size:0 200%}
    }
    @keyframes b{
        50% {background-position:0 -100%,0 0}
    }
    
    #portrait {
        background: url('/public/emilien_main.JPG');
        background-size: cover;
    }

</style>