<div class="relative bg-gray-100 border border-black" style="width: 1469px; height: 1024px;">
    <img class="absolute right-0 top-0" style="width: 741px; height: 1024px;" src="https://via.placeholder.com/741x1024"/>
    <div class="absolute bg-black bg-opacity-70 shadow rounded-lg" style="width: 786px; height: 299px; left: 53px; top: 345px;"/>
    <p class="absolute text-2xl font-bold uppercase" style="width: 643px; height: 66px; left: 60px; top: 658px;">Working with people and businesses who value communication at every step of a project</p>
    <div class="relative border-black" style="width: 85px; height: 85px; left: 348px; top: 795px;">
        <div class="w-20 h-20 bg-gray-300 rounded-full"/>
        <div class="w-8 h-11 absolute m-auto inset-0 bg-black rounded-lg"/>
    </div>
    <div class="inline-flex items-center justify-end w-56 h-16 py-3.5 pl-3.5 absolute" style="left: 123px; top: 807px;">
        <p class="w-56 h-full text-2xl uppercase">Work together</p>
    </div>
    <div class="inline-flex space-x-5 items-end justify-end pl-4 pt-1 absolute bg-gray-100 bg-opacity-0" style="width: 700px; height: 54px; left: 60px; top: 0px;">
        <p class="w-60 h-full text-4xl font-bold uppercase">Emilien</p>
        <p class="w-1/6 h-3/4 text-xl uppercase">about</p>
        <p class="w-40 h-9 text-xl uppercase">Contact</p>
        <p class="w-40 h-9 text-xl uppercase">projects</p>
    </div>
    <p class="w-56 h-11 absolute text-4xl font-bold capitalize" style="left: 61px; top: 288px;">multilingual</p>
    <div class="inline-flex space-x-11 items-center justify-start w-80 h-20 px-7 pb-1 absolute left-0 bottom-0 bg-white bg-opacity-0">
        <div class="w-11 h-10 bg-black rounded-lg"/>
        <div class="w-11 h-11 bg-black rounded-lg"/>
        <div class="w-9 h-1/2 bg-black rounded-lg"/>
        <div class="w-11 h-8 bg-black rounded-lg"/>
    </div>
</div>